// General layout settings
@import 'pre';
@import "../../clboost/scss/commons";
@import 'abstracts/mixins';
@import 'theme/base';
@import 'theme/nav-drawer';
@import 'components/components';
@import 'components/buttons';
@import 'components/cards';
@import 'components/blocks';
@import 'components/texts';
@import 'components/header';
@import 'components/footer';
@import 'components/syllabus';
@import 'components/flags';
@import 'components/myprofile';
@import 'components/forum';
@import 'components/sharing_cart';
@import 'pages/homepage';
@import 'pages/dashboard';
@import 'pages/profile';
@import 'pages/general';
@import 'pages/course';
@import 'pages/login';

