#page-site-index {

    .card {
        border: 0;
        background: transparent;
        @extend .imtpn-container;

        .card-body {
            padding: 0 !important;
        }
    }

    .block-what-is-imtpn {

        .card-title {
            @extend .title-underlined;
        }

        .card-text {
            @extend .text-card;
        }
    }

    .block_mcms {
        h3 {
            @extend .title-blue;
        }

        .card-text {
            @extend .text-card;
        }
    }

    .block_featured_courses {
        padding: 40px 0 80px 0;
        @extend .grey-background;

        .card-title {
            @extend .title-underlined;
        }
    }

    .block_rss_thumbnails {
        padding: 40px 0 0 0;

        .card-title {
            @extend .title-underlined;
        }
    }
}