.card-course {
    box-shadow: 0 2px 14px -4px rgba(0, 0, 0, 0.25);
    background: $white;
    position: relative;
    height: 288px !important;

    @include media-breakpoint-down(sm) {
        width: 100%;
        margin: 0;
    }

    &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 120px 120px 0 0;
        border-color: $primary transparent transparent transparent;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.6;
    }

    .course-image {
        width: 100%;
        height: 180px;
        background-position: center;
    }

    .title {
        text-overflow: ellipsis;
        white-space: normal;
        font-size: 16px;
        line-height: 150%;
        font-weight: bold;
        color: $body-color;
        padding: 8px;
        padding-right: 24px;
        max-height: 60px;
        overflow: hidden;
        text-align: center;
    }

    .link-go-to-content {
        .btn-primary:not(:disabled):hover,
        .btn-primary:not(:disabled):active:focus,
        .btn-primary:focus {
            color: $primary;
            background-color: transparent;
            box-shadow: initial;
            outline: initial;
        }
    }
}

#page-local-resourcelibrary-index .dashboard-card-deck .dashboard-card .dashboard-card-img {
    height: 180px;
}


.card-news {

    color: inherit;

    &:hover {
        text-decoration: none;
    }

    .img-thumbnail {
        padding: 0;
        border: 0;
    }

    .slide-title {
        padding: 20px 0;
        min-height: 0;
        font-size: 0.875em;
    }

    .categories {
        margin: 0;
    }
}

.card-dashboard {
    background: transparent;
    border: 0;
}

.card-upcoming-event {
    display: flex;
    align-items: flex-start;
    position: relative;
    background: $white;
    box-shadow: 0 2px 14px -4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-bottom: 15px;

    .fa {
        font-size: 20px;
    }

    .event-title {
        display: block;
        color: inherit;
        font-size: 17px;
    }

    .date {
        font-size: 12px;
        color: $secondary;

        a {
            color: inherit;
        }
    }
}

.card {
    border: initial;
}