footer.footer {
    &.footer-dark {
        background-color: $imt-darkblue;
        color: white;
        height: auto;
    }

    flex: 0 0 auto;

    height: 343px;
    position: relative;
    overflow: hidden;

    color: $secondary;

    .footer__triangle-1 {
        position: absolute;
        top: 0;
        left: 0;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 300px 300px 0 0;
        border-color: $primary transparent transparent transparent;
    }

    .footer__triangle-2 {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 390px 0 0 390px;
        border-color: transparent transparent transparent $primary;
    }

    .footer__triangle-3 {
        position: absolute;
        bottom: 0;
        right: 0;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 292px 292px;
        border-color: transparent transparent $secondary transparent;
    }

    .imtpn-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        padding: 50px 0 25px 0;
    }

    .footer__text {
        font-size: 17px;
        line-height: 200%;
        max-width: 460px;
        text-align: center;

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }
    }

    .footer__stores {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }

        a {
            margin: 0 10px;
        }
    }

    .footer__links {
        justify-content: center;
        font-size: 12px;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;
        }

        li {
            margin: 0 10px;

            a, a:visited, a:hover {
                color: inherit;
            }
        }


        logininfo {
            justify-content: center;
        }
    }

    .footer__mention {
        font-size: 12px;
    }
}

body.notloggedin footer.footer {
    @include media-breakpoint-down(sm) {
        height: auto;
        .footer__links {
            background-color: rgba($white, 60%);
        }
    }

    .footer__links ul {
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

#page-footer a {
    color: $gray-700;
    text-decoration: none;

    .icon {
        color: $gray-700;
    }

    &:focus .icon {
        color: $body-color;
    }
}

#page-footer.footer-dark a {
    color: $white;
    text-decoration: none;

    .icon {
        color: $white;
    }

    &:focus .icon {
        color: $white;
    }
}
