.local-resourcelibrary .card-deck .sharing-cart-icon {
    position: absolute;
    bottom: 1em;
    left: 1em;
    display: none;
}

.resource-library-activities .card-deck .sharing-cart-icon {
    display: initial;
}