.syllabus-title {
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;

    .sfield-fullnamehtml {
        font-size: 2.5em;
    }

    .sfield-courseimage {
        max-width: 400px;
        margin: auto;
        box-shadow: 0 2px 14px -4px rgba(0, 0, 0, 0.25);
        margin-bottom: 40px;
    }

    .sfield-tagline {
        max-width: 75%;
        margin: auto;
        font-size: 1.5em;
    }
}

.syllabus-head {
    .sfield-label {
        color: $primary;
    }

    @include media-breakpoint-up(md) {
        .sfield-label {
            white-space: nowrap;
        }
    }

    .sfield-content {
        @include media-breakpoint-up(md) {
            white-space: nowrap;
        }

        p {
            display: none; // Moodle always insert an empty paragraph in text area content.
        }

        ul {
            display: inline;
            list-style: none;
            padding: 0px;

            li {
                display: inline;
            }

            li::after {
                content: ", ";
            }

            li:last-child::after {
                content: "";
            }
        }

        color: $app-gray-2;
        font-size: 14px;
        font-style: italic;

    }
}

.syllabus-content {
    flex-grow: 1;
    h4 {
        color: $primary;
        font-size: 20px;
        font-weight: bold;
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }

    p {
        padding-left: 25px;
        font-size: 17px;
    }
}

.syllabus-side {
    .title-label {
        display: none;
    }
}

.syllabus-action {
    form legend.ftoggler {
        padding-left: initial;
        color: $imt-darkgrey;
    }
}