$imt-lightblue: #00b8de;
$imt-darkblue: #0c2340;
$imt-mediumblue: #225278;
$imt-darkgrey: #3c3c3c;
$imt-lightgreen: #afcb37;
$imt-orange: #f2a900;
$imt-orange2: #ef7d00;
$imt-red: #f23000;
$imt-darkred: #9c1f00;
$imt-purple: #d40f7d;
$imt-purple2: #61259e;
$imt-purple3: #831F82;
$imt-darkblue2: #000773;
$imt-lightgray: #E8E4D9;
$imt-darkgrey: #3C3C3C;


$imt-standard-primary: $imt-lightblue;
$imt-standard-secondary: $imt-darkblue;

$imt-atlantique-primary: $imt-lightblue;
$imt-atlantique-secondary: $imt-lightgreen;

$imt-lille-primary: $imt-lightblue;
$imt-lille-secondary: $imt-orange;

$imt-albi-carmaux-primary: $imt-lightblue;
$imt-albi-carmaux-secondary: $imt-orange2;

$imt-ales-primary: $imt-lightblue;
$imt-ales-secondary: $imt-purple;

$imt-stetienne-primary: $imt-lightblue;
$imt-stetienne-secondary: $imt-purple2;

$imt-telecom-paris-primary: $imt-darkgrey;
$imt-telecom-paris-secondary: $imt-darkblue2;

$imt-telecom-sud-paris-primary: $imt-lightblue;
$imt-telecom-sud-paris-secondary: $imt-mediumblue;

$imt-business-school-primary: $imt-darkgrey;
$imt-business-school-secondary: $imt-purple3;
